<div id="menu">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Storage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" @click="showLoginModal = true">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" @click="showRegisterModal = true">Registrar-se</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="header-modal" v-if="showLoginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Login
                    </h5>
                    <button type="button" class="close" @click="showLoginModal = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email" required />
                        </div>
                        <div class="form-group">
                            <label for="passwd">Senha:</label>
                            <input type="password" name="passwd" class="form-control" id="passwd" required />
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn btn-warning btn-lg mr-2">Limpar</button>
                            <button class="btn btn-success btn-lg" @click="showLoginModal = false; login()">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Modal -->

    <!-- Register Modal -->
    <div class="header-modal" v-if="showRegisterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Cadastro
                    </h5>
                    <button type="button" class="close" @click="showRegisterModal = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="name">Nome Completo:</label>
                            <input type="text" name="name" class="form-control" id="name" v-model="newUser.name" required />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" class="form-control" id="email" v-model="newUser.email" required />
                        </div>
                        <div class="form-group">
                            <label for="passwd">Senha:</label>
                            <input type="password" name="passwd" class="form-control" id="passwd" v-model="newUser.passwd" required />
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn btn-warning btn-lg mr-2">Limpar</button>
                            <button class="btn btn-success btn-lg" @click="showRegisterModal = false; register()">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Register Modal -->

</div>